<section>
  <div class="img-bg">
    <img src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/hinh_anh_minh_hoa.jpg">
  </div>
  <div class="container">
    <div class="form">
      <h2>Registrarse</h2>
      <form action="">
        <div class="input-form">
          <span>Usuario</span>
          <input type="text" name="">
        </div>
        <div class="input-form">
          <span>Email</span>
          <input type="text" name="">
        </div>
        <div class="input-form">
          <span>Contraseña</span>
          <input type="password" name="">
        </div>
        <div class="input-form">
          <input type="submit" value="Registrarse">
        </div>
        <div class="input-form">
          <a href="./../login/login.component.html"><input type="submit" value="Cancelar"></a>
        </div>
      </form>
    </div>
  </div>
</section>
