<section>
  <div class="img-bg">
    <img src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/hinh_anh_minh_hoa.jpg">
  </div>
  <div class="container">
    <div class="form">
      <h2>¡Bienvenido Usuario!</h2>
      <form>
        <div class="input-form">
          <span>Usuario</span>
          <input type="text" name="" formControlName="usuario">
        </div>
        <div class="input-form">
          <span>Contraseña</span>
          <input type="password" name="" formControlName="password">
        </div>
        <div class="check">
          <label><input type="checkbox" name="">Recordarme</label>
        </div>
        <div class="input-form">
          <input type="submit" value="Ingresar">
        </div>
        <div class="input-form">
          <p>¿Aún no está registrado? <a href="./../register/">Registrarse</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
